
.ordersWrapper {
    width: 90%;
    margin: 30px auto;
    background-color: white;
}

.singleOrder {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.userData {
    width: 26%;
    background-color: #99D5EA;
    float: left;
}

.userServises {
    width: 73%;
    margin-left: 1%;
    float: left;
}

.item {
    width: 98%;
    margin: 2% 1%;
    margin-top: 0;
    float: left;
    background-color: #7BA5DB;
    border-radius: 6px;
}

.uf {
    margin-bottom: 10px;
    border-radius: 6px;
}

.otext {
    width: inherit;
    font-size: 0.9em;
    margin-bottom: 4px;
    font-family: 'Arvo';
    padding-left: 8px;
    height: auto;
}

.sum {
    padding-top: 10px;
    text-indent: 5px;
}

input {
    border-radius: 6px;
}

.rn {
    width: 100%;
    margin: 8px auto;
    margin-top: 0;
    text-align: center;
}
